:root {
  --bg: #222;
  --text: #fff;
  --light: #cc9dff;
}
body,
html {
  height: 100vh;
}
body {
  font-family: "Exo 2", sans-serif;
  background: var(--bg);
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s background ease;
  text-decoration-style: bold;
  font-weight: 400;
  font-family: sans-serif;
}
.header-nav-list li {
  display: inline;
  margin-right: 10px;
}
.header-nav-list-container {
  text-decoration-line: none;
  text-decoration-color: black;
  text-transform: uppercase;
}
.header-nav-list {
  display: flex;
  justify-content: space-around;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.box-switch {
  --bg: #fff;
  --text: #000;
  color: var(--text);
  width: 100px;
  height: 40px;
  background: var(--light);
  border-radius: 30px;
  position: relative;
  .switch {
    background: #fff;
    width: 30px;
    height: 30px;
    background: var(--bg);
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.5s all ease;
  }
}
.light {
  --bg: #cc9dff;
  --text: #222;
  background: var(--bg);
  .box-switch {
    background: var(--text);
    .switch {
      transform: translateX(60px);
    }
  }
  .navigation > li > a {
    color: var(--text);
    &:hover {
      color: #220244;
    }
  }
}
